<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<appender name="RollingLogFileAppender"
		          type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="Logs\\" />
			<datePattern value="yyyy\\MM\\yyyy-MM-dd&quot;.csv&quot;"/>
			<staticLogFileName value="false"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<maxSizeRollBackups value="100"/>
			<maximumFileSize value="5MB"/>
			<layout type="Common.Utils.LayoutCSVLog4net.CsvPatternLayout,Common.Utils">
			    <header value="Time,Thread,Level,Message,Exception&#13;&#10;" />
			    <conversionPattern
				     value="%date{yyyy-MM-dd HH:mm:ss.fff}%newfield%thread%newfield%level%newfield%message%newfield%exception%endrow" />
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
</configuration>